:root{
    --gutter: .8rem;
}
html{
    font-size: 62.5%;
}
body{
    background-color:#f9f9f9;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    display: flex;
}
.left-side{
    position: relative;
    background-image: url('../images/nicole.jpg');
    background-size: cover;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-side__header{
    display: flex;
    flex: row;
    align-items: flex-start;
    padding: calc(var(--gutter)*6) calc(var(--gutter)*3);
}
.left-side__header img{
    width: 10%;
    display: inline-block;
    margin-right: calc(var(--gutter)*2)
}
.left-side__header h1{
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    width: 17rem;
}
.left-side__description{
    color: #fff;
    text-align: right;
    background-color: rgba(0,0,0,.5);
    width: 90%;
    margin: 0 auto;
    padding: calc(var(--gutter)*5) calc(var(--gutter)*3) calc(var(--gutter)*5) calc(var(--gutter)*8);
}
.left-side__description h2{
    font-size: 2.5rem;
}
.left-side__description i{
    font-size: 1.4rem;
    font-weight: 400;
}
.left-side__footer{
    align-self: flex-end;
    padding: calc(var(--gutter)*1.5) calc(var(--gutter)*3);
}
.left-side__footer ul{
    list-style: none;
}
.left-side__footer li{
    display: inline-block;
    margin-left: var(--gutter)
}
.left-side_navlink{
    color: #fff;
    text-decoration: none;
    padding: var(--gutter);
}
.left-side_navlink:hover{
    background-color: rgba(0,0,0,.75);
    transition: background-color 0.3s linear;
}

main{
    position: relative;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.main__title{
    padding: calc(var(--gutter)*1.5) calc(var(--gutter)*3);
    font-size: 2.4rem;
}

article {
    width: 50%;
    border: solid 0.1rem #eaeaea;
    background-color: white;
    padding: calc(var(--gutter)*3)
}

.article__header h3{
    font-size: 2.4rem;
    margin-bottom: calc(var(--gutter)*3);
}

.article__category{
    text-transform: uppercase;
    padding: var(--gutter) calc(var(--gutter)*1.5);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: calc(var(--gutter)*0.5);
    margin-bottom: calc(var(--gutter)*3);
    display: inline-flex;
}

.article__category--team{
    background-color: #DC5E53;
}

.article__category--news{
    background-color: #98DC62;
}

.article__category--work{
    background-color: #0766F0;
}

.article__user{
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    align-items: center;
}
.article__user img{
    width: 12%;
    margin-right: calc(var(--gutter)*2);
}

.article__date{
    font-weight: 400;
    color: #b0adac;
    padding-left: var(--gutter);

}

.article__excerpt{
    margin: calc(var(--gutter)*3) 0;
}

.article__link{
    color: #007bff;
    font-weight: 700;
}

.article__link:hover{
    color: #0056b3;
}

